@model Lot

<style>
    #progress-bar {
        width: 0%;
        height: 30px;
        background-color: #3b6fc9;
        opacity: 90%;
        border-radius: 20px;
        line-height: 30px;
        color: white;
    }

    #time-remaining {
        width: 100%;
        font-size: 14px;
    }
</style>

<div class="row">
    <div class="col-10">
        <input asp-for="Name" disabled class="form-control" />

        <div class="form-control">
            @Html.Raw(Model.Description)
        </div>
        <div class="form-control">
            <label asp-for="InitialValue" class="p-0"></label>: $@Model.InitialValue
        </div>
        <div class="form-control">
            <label asp-for="IncrementValue" class="p-0"></label>: $@Model.IncrementValue
        </div>
    </div>
    <div class="col-2 d-flex align-items-center">
        <div class="border rounded p-2">
            <img src="@Model.ImageURL" width="100%" style="border-radius: 5px; filter: grayscale(70%); opacity: 80%" />
        </div>
    </div>
</div>

<div class="row pt-3 d-flex justify-content-center align-items-center">
    <div class="col-12 text-center">
        <div id="progress-bar"></div>
        <div id="time-remaining" class="p-2">
            Time Remaining:
        </div>
        <a asp-action="LeaveWaiting" asp-route-auctionId="@Model.AucionId" class="btn btn-secondary">Leave</a>
    </div>
</div>

@section Scripts {
    <script>
        function updateProgressBar(startDateTimeTicks, queueTimeInMinutes, id) {
            var progressBar = document.getElementById("progress-bar");
            var timeRemainingElement = document.getElementById("time-remaining");

            var startTimestamp = startDateTimeTicks / 10000 - 62135596800000;
            var duration = queueTimeInMinutes * 60 * 1000;
            var startTime = startTimestamp + duration;

            function update() {
                var currentTime = new Date().getTime();
                var remainingTime = startTime - currentTime;

                if (remainingTime > 0) {
                    var progress = ((duration - remainingTime) / duration) * 100;
                    progressBar.style.width = progress + "%";

                    var minutes = Math.floor(remainingTime / (60 * 1000));
                    var seconds = Math.floor((remainingTime % (60 * 1000)) / 1000);

                    timeRemainingElement.innerHTML = "Time Remaining: " + minutes + "m " + seconds + "s";

                    requestAnimationFrame(update);
                } else {
                    progressBar.style.width = "100%";
                    progressBar.innerHTML = "Time's up!";
                    timeRemainingElement.innerHTML = "Time Remaining: 0m 0s";
                    window.location.href = '@Url.Action("Bidding", "Home")/' + @Model.Id;
                }
            }

            update();
        }
        updateProgressBar(@Model.DateStart.Ticks, @Model.QueueTime, @Model.Id);
    </script>
}